<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
</head>
<body>
    <!-- <header>
        Page Header
    </header> -->

    <%- include('_header');%>


    
    <!-- <h1> Codeal /Profile Page </h1> -->

     <!-- this is variable part -->

     <!-- for user_profile page the view user_profile is render -->
    <%-  body    %>  

    <!-- body gets filled with respective pages that are render in controller -->






    <!-- <footer>
        Page footer
    </footer> -->

    <%- include('_footer');%>


    <!-- if css link or js link is there in the body then it automatically places it in head(css files) and js files here -->
    <%- script %>
</body>
</html>